body {
    box-sizing: border-box;
    display: flex;
 }
 
.tela-cadastroPessoa{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
 
 }
 .white-box-cadastroPessoa {
   align-items: center;
   justify-content: center;
    margin: 0 auto;
    width: 350px;
    background-color: white;
    border-radius: 24px;
 }
 
 label.label-input-cadastroPessoa {
   font-size: 7pt;
}

.alerta-senha {
   font-size: 7pt;
   display: block;
   width: 100%;
}

 .input-cadastroPessoa {
    margin-top: 8px;
    background-color: #fff;
    margin-top: 10px;
    width: 95%;
    height: 45px;
    align-items: center;
    justify-content: center;   
    font-size: 8pt;
    padding: 10px;
 }
 
 
 .slogan {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 250px;
 }
 
 .label-input-cadastroPessoa {
    background-color: #f0f0f0;
    width: 100%;
 }
 .link-login {
    margin-top: 10px;
    margin-bottom: 10px;
 }
 
 
 .submit-cadastroPessoa {
    margin-top: 8px;
    border-radius: 14px;
    background-color: #407BFF;
    color: #fff;
    margin: 10px;
 } 

 .submit-cadastroPessoa:hover{
   background-color: #12345d;
   transition: ease 0.5s;
 }

 