.tela-cadastroPessoa {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Garante que o conteúdo comece no topo, mas com um espaço */
    /* height: 100vh; */
    /* background-color: #7DA2C1; */
    margin: 0;
    padding-top: 50px; /* Adiciona um espaçamento superior */
  }
  
  .white-box-cadastro {
    width: 100%;
    max-width: 400px;
    background-color: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px; /* Adiciona um espaço acima do formulário */
  }
  
  .form-container {
    width: 100%;
  }
  
  .form-container input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #407BFF;  /* Cor da borda atualizada para #407BFF */
    border-radius: 8px;
    font-size: 14px;
    transition: border 0.3s ease-in-out;
  }
  
  .form-container input:focus {
    border-color: #407BFF;  /* Mantém a borda na cor #407BFF quando o input estiver em foco */
  }
  
  .form-container .inputs-row {
    display: flex; /* Faz os inputs ficarem lado a lado */
    justify-content: space-between; /* Adiciona espaçamento entre os inputs */
    gap: 10px; /* Espaço de 10px entre os campos */
    width: 100%;
  }
  
  .form-container .half-width {
    flex: 1; /* Faz cada input ocupar a mesma largura */
  }
  
  .form-container .half-width input {
    width: 100%; /* Garante que o input ocupe toda a largura disponível */
  }
  
  .form-container .half-width label {
    margin-bottom: 5px;
    text-align: left;
    display: block;
  }
  
  
  .form-container label {
    font-size: 12px;
    /* color: #666666; */
    margin-bottom: 5px; /* Adiciona 5px de distância entre a label e o input */
    display: block; /* Faz com que a label ocupe toda a linha */
    text-align: left; /* Alinha a label à esquerda */
  }
  
  .submit {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #4A90E2;
    height: 100%;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .submit:hover {
    background-color: #357ABD;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
  }
  
  .link-login {
    display: block;
    text-align: center;
    margin-top: 15px;
    color: #357ABD;
    text-decoration: none;
    font-size: 14px;
    text-decoration: underline;
  }
  
  .link-login:hover {
    text-decoration: underline;
  }
  