.about {
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 1080px;
}

.sectionAbout {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 60px;
    padding: 40px;
}

#title {
    font-size: 30px;
    font-weight: 700;
    color: #4979b4;
}

#subtitle {
    font-size: 24px;
    font-weight: 400;
    margin-top: -30px;
    color: #565656;
}

.aboutImage {
    width: 100%;
    height: auto;
}

.button3 {
    padding: 22px;
    font-size: 20px;
    background-color: #4979B4;
    border-radius: 24px;
    transition: ease 0.5s;
}


.button3:hover {
    background-color: #12345d;
    color: #fff;
}