.slogan {
    display: flex;
    justify-content: flex-end;
}


.inicio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 110px;
}


.desc {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    align-items: flex-start;
    /* Alinha o conteúdo ao início */
    text-align: left;
    /* Garante o alinhamento do texto */
}



#titulo {
    font-size: 47px;
    font-weight: 700;
    color: #fff;
}


#sub-titulo {
    font-size: 30px;
    font-weight: 400;
    color: #fff;
}


.botoes {
    display: flex;
    gap: 20px;
}


.button1 {
    padding: 18px;
    background-color: #4979B4;
    border-radius: 24px;
    transition: ease 0.5s;
}


.button1:hover {
    background-color: #fff;
    color: #4979B4;
}


.button2 {
    padding: 18px;
    background-color: #fff;
    color: #4979B4;
    border-radius: 24px;
    transition: ease 0.5s;
}


.button2:hover {
    background-color: #e0dede;
    color: #4979B4;
}


.image-container {
    position: relative;
    margin-top: 270px;
    width: 50%;
    /* Tamanho adequado para as imagens */
    height: auto;
}


.background-image {
    width: 100%;
    /* O fundo se ajusta ao container */
    height: auto;
}

.overlay-image {
    position: absolute;
    top: 44.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    /* Aumente o bebê em relação ao fundo */
    height: auto;
    z-index: 1;
    /* Garante que fique acima da imagem de fundo */
}