body{
    width: 100%;
    height: 60%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center ;
    text-align: center;
}


.tela-login {
    display: flex;
    flex-direction: column;
}

.white-box{
    display: flex;
    width: 350px;
    height: 242px;
    flex-direction: column;
    justify-content:center;
    text-align: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    font-size: 10px;

}

.bem-vindo{
color: #407BFF;
font-size: 16px;
font-weight: 600;
margin: 20px 0px 35px 0px;
}

.input-login {
    width: 292px;
    height: 50px;
    margin-bottom: 20px;
    border-radius: 3px;
    border-color: #4979B4;
    background-color: #fff;
    border-width: 2px;
    border-radius: 10px;
    padding-left: 10px;
}

.label-login {
   text-align: left; 
   margin-left: 10px;
   margin-top: -15px;
   margin-bottom: 7px;
}

button {
    display: flex;
    width: 332px;
    height: 50px;
    font-size: 24pt;
    text-align: center;
    justify-content: center;
}

.submit {
    margin-top: 25px;
    border-radius: 14px;
    background-color: #407BFF;
    color: #fff;
    transition: ease 0.5s;
}

.submit:hover{
    background-color: #12345d;
}

.slogan {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 250px;
}