body {
    background-color: white;
}

.pesquisa-container {
    margin: 20px;
    font-family: Arial, sans-serif;
  }
  
  .pesquisa-container h1 {
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .input-pesquisa {
    flex: 1;
    padding: 8px;
    font-size: 16px;
  }
  
  .button-pesquisa {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .button-pesquisa:disabled {
    cursor: not-allowed;
  }
  
  .resultados-lista {
    list-style-type: none;
    padding: 0;
  }
  
  .resultado-item {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
  }
  

.input-barra-pesquisa {
    background-color: white;
    padding: 15px 10px 15px 10px;
    width: 50vw;
    border-radius: 10px;
    border: 4px solid #000;
    flex: 1;
    margin-bottom: 20px;
}


.resultado-cards {
  display: grid;  /* Usando grid para criar um layout de cartões */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));  /* Cria uma grade flexível */
  gap: 20px;  /* Espaçamento entre os cartões */
}

.card-clinica {
  background-color: #f9f9f9; /* Cor de fundo do card */
  border-radius: 10px;
  border: 1px solid #ddd;
  padding: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adiciona sombra para destacar os cards */
  transition: transform 0.2s ease-in-out;  /* Transição suave ao passar o mouse */
}

.card-clinica:hover {
  transform: translateY(-5px); /* Efeito de hover para levantar o card */
}

.card-clinica h3 {
  margin: 0;
  font-size: 18px;
  font-weight: bold;
}

.card-clinica p {
  font-size: 14px;
  margin: 5px 0;
}

/* CSS */
.button-30 {
  background-color: #fff;
  color: #4979B4;
  border-radius: 24px;
  transition: ease 0.5s;
  font-family:  Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  align-items: center;
  appearance: none;
  border-radius: 24px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  height: 26px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 14px;
  margin-left: 10px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.voltar-button {
  position: absolute;
  top: 20px; /* Distância do topo */
  left: 20px; /* Distância da esquerda */
}

.voltar-button:hover {
  color: rgb(236, 239, 255);
  transform: 0.25seg;
}

/* CSS */
.button-34 {
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Inter,Helvetica,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Noto Color Emoji","Segoe UI Symbol","Android Emoji",EmojiSymbols,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans",sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
  word-break: break-word;
  border: 0;
}



  